

@media only screen and (max-width: 1254px) {
  .more {
    display: block;
  }
  .message {
    display: none;
  }
  nav ul {
    padding-right: 30px
  }
  .more:hover, .more:active, .more:focus ~ .sub {
    display: block;
    font-size: 14px;
  }
}


@media only screen and (max-width: 1075px) {
  .container {
    margin: 0 1%;
  }
  header nav li a {
    font-size: 16px;
  }
  .header-img {
    padding-right: 8px;
  }
  .home-direct {
    padding: 0 10px;
  }
  header .that i {
    padding: 0 6px
  }
  nav ul {
    padding-right: 0;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 950px) {
    header nav li a {
    font-size: 14px;
    padding: 0 8px;
  }
  .body-main-btn-first {
    padding: 14px 35%;
  }
  .body-main-btn-second {
    display: none;
  }
}


@media only screen and (max-width: 765px) {
 .grid {
  grid-template-columns: 1fr;
 }
  header {
    width: 80%;
  }
  nav ul {
    display: none;
  }
  .dropdown {
    display: inline-flex;
  }
  .dropdown i {
    display: block;
    margin: 0 4% 0 2%;
    padding: 3px;
  }
  .container {
    font-size: 17px;
    margin: 0 10%;
  }
  .home-direct {
    margin: 0 18px 0 80px;
  }
  #check {
    display: block; 
    position: absolute;
    left: -250px;
  }
  #check:checked ~ .content {
    display: block;
  }
}


@media only screen and (max-width: 537px) {
  .home-direct {
    display: none;
  }
  header {
    width: 100%;
  }
  .container {
    margin: 0 6%;
  }
  .dropdown {
    margin: 0 45% 0 0;
  }
}


@media only screen and (max-width: 375px) {
  .container {
    margin: 0 10%;
  }
  .home-direct {
    display: none;
  }
  header .that i {
    font-size: 12px;
  }
  .dropdown{
    font-size: 12px;
    margin: 0 20% 0 0;
  }
  .content ul li {
    font-size: 10px;
    width: 100px;
  }
}